.area-history-chat::-webkit-scrollbar,
.chat-input::-webkit-scrollbar,
.description-chat::-webkit-scrollbar {
  width: 8px;
}

.area-history-chat::-webkit-scrollbar-track,
.chat-input::-webkit-scrollbar-track,
.description-chat::-webkit-scrollbar-track {
  background-color: #e4e4e400;
  border-radius: 100px;
}

.area-history-chat::-webkit-scrollbar-thumb ,
.chat-input::-webkit-scrollbar-thumb,
.description-chat::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 100px;
}


.markdown-container {
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
}

.markdown-container h1,
.markdown-container h2,
.markdown-container h3 {
  margin: 0.5rem 0;
}

.markdown-container ul,
.markdown-container ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.markdown-container table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-container table th,
.markdown-container table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}
